*.lo
*.o
*.slo
.libs
.lime-config-generated.mk
Makefile
adduser/aclocal.m4
adduser/adduser
aproot
autom4te.cache
config.log
config.status
config7.m4
configure
core
cscope.files
cscope.out
files
limestone/Makefile.in
limestone/aclocal.m4
limestone/adduser
limestone/drop_and_create_populated_database
limestone/libmod_dav_repos.la
logrotate.conf
logrotate.status
stamps
tags
tmp
