*.o
*.lo
*.slo
Makefile
config.status
configure
config.log
.libs
autom4te.cache
config7.m4
cscope.files
cscope.out
files
aproot
stamps
limestone/Makefile.in
limestone/aclocal.m4
limestone/adduser
limestone/drop_and_create_populated_database
limestone/libmod_dav_repos.la
tags
adduser/aclocal.m4
adduser/adduser
